.jumbotron {
  background-color: #6E3636;
  background-size: cover;
}
h1,h3,.bg-primary
{
  color: white;
}
.blue-border
{
  border: 1px solid blue;
}
form
{
  margin: 10px;
}
.bg-primary
{
  padding: 10px;
}